        <header>
            <table>
                <tr>
                    <td><h1>FurEver Family Adoption Agency</h1></td>
                    <td><a href="/home"><img src="/images/adoptionLogo.png" alt="Adoption Agency Logo" width="100" height="100"></a></td>
                </tr>
                <tr>
                    <td id="date" colspan="2"></td>
                </tr>
            </table>
        </header>