<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assignment 1 - Question 8</title>  
        <link rel="stylesheet" href="/css/styleQ8.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/Q7.js" defer></script>
    </head>
    <body>
        <%- include('partials/header') %>
<main>
<div class="sidebar">
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/find">Find Available Pets</a>
        </li>
        <li>
            <a href="/dogCare">Dog Care</a>
        </li>
        <li>
            <a href="/catCare">Cat Care</a>
        </li>
        <li>
            <a href="/giveAway">Have a Pet to Give Away</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div>
            <div>
                <h1>Cat Care</h1>
                <section>
                <h2>Cat Supply Checklist</h2>
                <ul>
                    <li>Separate areas for food and water</li>
                    <li>At least one litter tray (away from any other things)</li>
                    <li>A comfortable, soft bed</li>
                    <li>At least one safe hiding spot - this can be a covered carrier, a teepee style bed or a box.</li>
                    <li>Areas for climbing such as shelves or a cat tree</li>
                    <li>Toys and scratching posts </li>
                    <li>You can also bring home something that smells familiar to them such as a blanket so that they feel less anxious. </li>
                </ul>
            </section>
            <section>
                <h2>The First Few Days</h2>
                <p>
                    Once you have brought your kitten into their new room, let them settle and acclimatise. Don’t remove your 
                    kitten from their carrier, leave the door open and allow them to come out in their own time. It can be 
                    tempting to shower them with affection and excitement, but they are likely to be stressed by the move. 
                    You don’t want to overwhelm them. Have patience and let them get used to their new environment - there 
                    will be plenty of time for cuddles later! When you leave the room, you can put a radio on quietly - the 
                    soft background noise will help them feel less nervous and will muffle other sounds that they may find 
                    scary. 
                </p>
                <p>
                    It’s important to have already registered with your vet BEFORE you bring your new family member home. 
                    Their immune system is still developing and problems can arise quickly, so ensure you’ve got your new 
                    vet at the end of the phone for any emergencies.
                </p>
                <p>
                    After the first few days, hopefully your kitten will be feeling safe and a bit less stressed. You can 
                    introduce new experiences to them in this room such as meeting other family members so that they can 
                    start to build up their confidence before they take on the whole house.
                </p>
            </section>
            <section>
                <h2>Playtime</h2>
                <p>
                    Kittens love to play - one minute they are full of beans and the next they’ll be zonked out, 
                    asleep where they fall. The best way to play with your kitten is to encourage play with different 
                    toys including ones that they can interact with alone (such as ball circuits) and ones that you 
                    can use together (fishing rods are always a winner but always make sure your kitten is supervised).
                </p> 
                <p>
                    Rotate the types of toys that your kitten is using so that they don’t get bored. If you notice that 
                    your kitten is showing predatory behaviour (stalking, pouncing, jumping, biting, or clawing), then 
                    they might be bored - you can distract them from this by using toys for physical and mental enrichment. 
                </p>
            </section>
            <section>
                <h2>Boundaries</h2>
                <p>
                    Don't let your new kitten get away with too much! Your tiny bundle of fluff may be cute, but part of their 
                    socialisation needs to be learning boundaries and understanding what is positive behaviour in their new home. 
                </p>
            </section>
            <section>
                <h2>Kitten Proofing Your Home</h2>
                <p>
                    Having a new kitten in your home can be like having a baby, so ensure that you have ‘kitten-proofed’ your home 
                    before allowing your new arrival to explore. Build up their access to different rooms in the house over 
                    time and keep an eye on them to make sure they don’t cause too much mischief. 
                </p>
                <p>
                    Cats and kittens can squeeze into the smallest holes, so make sure you block off any gaps in furniture, cupboards, 
                    or appliances, as well as keeping doors and lids closed (including the toilet, washing machine and tumble dryer). 
                    Double check the kitten hasn’t crawled inside to explore before turning the appliances on. Keep all of your cables 
                    and wires out of reach so they can’t be chewed or get caught around your kitten. 
                </p>
            </section>
            <section>
                <h2>Vaccinations</h2>
                <p>It's important to make sure your new furry friend is fully vaccinated. 
                    <a href="https://themayhew.org/how-we-help/our-vet-clinic/vaccinations/#appointment-type">Click here</a> 
                    for more information concerning your kitten's vaccines.
                </p>
            </section>
            <section>
                <h2>Microchips</h2>
                <p>It's important to make sure your new furry friend is microchipped. 
                    <a href="https://themayhew.org/how-we-help/our-vet-clinic/microchipping/">Click here</a> 
                    for more information concerning your kitten's microchip.
                </p>
            </section>
            <section>
                <h2>Neutering</h2>
                <p>Neutering is an essential part of responsible pet ownership. 
                    <a href="https://themayhew.org/how-we-help/our-vet-clinic/neutering/">Click here</a> 
                    for more information concerning neutering your kitten.
                </p>
            </section>
                <p>
                    All information taken from: <a href="https://advice.themayhew.org/en/get-a-pet/how-to-manage-the-first-few-months-with-a-new-kitten?gad_source=1&gclid=Cj0KCQjw-uK0BhC0ARIsANQtgGNP6Fy-kOL84NtNjNNlwX6-K7pMN5gK1h91PtC5hy1N45kWRhibdmkaAr8cEALw_wcB">Mayhew</a>
                </p>
            </div>
</main>
            <%- include('partials/footer') %>
        </body>
</html>
