<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assignment 1 - Question 8</title>  
        <link rel="stylesheet" href="/css/styleQ8.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/Q7.js" defer></script>
    </head>
    <body>
        <%- include('partials/header') %>
<main>
<div class="sidebar">
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/find">Find Available Pets</a>
        </li>
        <li>
            <a href="/dogCare">Dog Care</a>
        </li>
        <li>
            <a href="/catCare">Cat Care</a>
        </li>
        <li>
            <a href="/giveAway">Have a Pet to Give Away</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div>
    <div>
        <h1>Get in touch</h1>
        <p>Want to get in touch? We'd love to hear from you. Here's how you can reach us...</p>
        <ul class="cards">
            <li>
                <h2>Isabella Guddemi</h2>
                <div class="inner">
                    <p>
                        With my full name, you can find me on LinkedIn and other platforms!
                    </p>
                </div>
            </li>
            <li>
                <h2>40283838</h2>
                <div class="inner">
                    <p>
                        My Concordia student ID will enable you to contact me 
                        through my educational instituion!
                    </p>
                </div>
            </li>
            <li>
                <h2>Email: i_guddem@live.concordia.ca</h2>
                <div class="inner">
                    <p>
                        Send me an email!
                    </p>
                </div>
            </li>
        </ul>
    </div> 
</main>
<%- include('partials/footer') %>
</body>
</html>
