<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assignment 1 - Question 8</title>  
        <link rel="stylesheet" href="/css/styleQ8.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/Q7.js" defer></script>
    </head>
    <body>
        <%- include('partials/header') %>
<main>
<div class="sidebar">
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/find">Find Available Pets</a>
        </li>
        <li>
            <a href="/dogCare">Dog Care</a>
        </li>
        <li>
            <a href="/catCare">Cat Care</a>
        </li>
        <li>
            <a href="/giveAway">Have a Pet to Give Away</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div>
            <div>
                <h1>Dog Care</h1>
                <section>
                <h2>Feeding</h2>
                <ul>
                    <li>Puppies 8 to 12 weeks old need <em>four</em> meals a day.</li>
                    <li>Puppies 3 to 6 months old need <em>three</em> meals a day.</li>
                    <li>Puppies 6 months old to 1 year need <em>two</em> meals a day.</li>
                    <li>Puppies above 1 year old need <em>one</em> meal a day.</li>
                </ul>
                <p>
                    Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, 
                    broth or canned food. Your dog may enjoy cottage cheese, cooked egg or fruits and vegetables, but 
                    these additions should not total more than ten percent of his daily food intake.
                </p>
                <p>
                    Puppies should be fed a high-quality, brand-name puppy food (large breed puppy foods for large breeds). 
                    Please limit "people food," however, because it can result in vitamin and mineral imbalances, bone 
                    and teeth problems and may cause very picky eating habits and obesity. Clean, fresh water should be 
                    available at all times, and be sure to wash food and water dishes frequently.
                </p>
                <p>
                    To ensure your dog is receiving the best food, please consult <a href="https://www.dogfoodadvisor.com/best-dog-foods/best-dry-dog-foods/" target="_blank">The Best Dry Dog Food of 2024</a>.
                </p>
            </section>
            <section>
                <h2>Exercise</h2>
                <p>
                    Dogs need exercise to burn calories, stimulate their minds, and stay healthy. Individual exercise needs 
                    vary based on breed or breed mix, sex, age and level of health. Exercise also tends to help dogs 
                    avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of 
                    your pet's instinctual urges to dig, herd, chew, retrieve and chase.
                </p>
            </section>
            <section>
                <h2>Grooming</h2>
                <p>
                    Help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily 
                    during warm weather. Most dogs don't need to be bathed more than a few times a year. Before bathing, 
                    comb or cut out all mats from the coat. Carefully rinse all soap out of the coat, or the dirt will 
                    stick to soap residue.
                </p>
                <p>
                    For more information, please consult: <a href="https://www.aspca.org/pet-care/dog-care/dog-grooming-tips" target="_blank">Our Dog Grooming Tips</a>.
                </p>
            </section>
            <section>
                <h2>Handling</h2>
                <p>
                    To carry a puppy or small dog, place one hand under the dog's chest, with either your forearm 
                    or other hand supporting the hind legs and rump. Never attempt to lift or grab your puppy or 
                    small dog by the forelegs, tail or back of the neck. If you do have to lift a large dog, 
                    lift from the underside, supporting his chest with one arm and his rear end with the other.
                </p>
            </section>
            <section>
                <h2>Housing</h2>
                <p>
                    Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A 
                    training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash
                    the dog's bedding often. If your dog will be spending a lot of time outdoors, be sure 
                    she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered 
                    shelter when it's cold.
                </p>
            </section>
            <section>
                <h2>Licensing and Identification</h2>
                <p>
                    Follow your community’s licensing regulations. Be sure to attach the license to your dog’s 
                    collar. This, along with an ID tag and implanted microchip or tattoo, can help secure your 
                    dog’s return should she become lost.
                </p>
            </section>
            <section>
                <h2>Spaying and Neutering</h2>
                <p>
                    Female dogs should be spayed and male dogs neutered by six months of age.
                </p>
                <p>
                    For more information, please visit the following website dedicated to <a href="https://www.aspca.org/pet-care/general-pet-care/spayneuter-your-pet" target="_blank">spaying/neutering your dog</a>.
                </p>
            </section>
            <section>
                <h2>Fleas and Ticks</h2>
                <p>
                    Daily inspections of your dog for fleas and ticks during the warm seasons 
                    are important. Use a flea comb to find and remove fleas. There are several 
                    new methods of flea and tick control. Speak to your veterinarian about 
                    these and other options.
                </p>
                <p>
                    For more information, please visit the following website dedicated to <a href="https://www.aspca.org/pet-care/general-pet-care/fleas-and-ticks" target="_blank">fleas and ticks</a>.
                </p>
            </section>
            <section>
                <h2>The Scoop on Poop</h2>
                <p>
                    Keep your dog on a leash when you are outside, unless you are in 
                    a secured, fenced-in area. If your dog defecates on a neighbor's 
                    lawn, the sidewalk or any other public place, please clean it up.
                </p>
            </section>
            <section>
                <h2>Dog Supply Checklist:</h2>
                <ul>
                    <li>Premium-quality dog food and treats</li>
                    <li>Food bowl</li>
                    <li>Water bowl</li>
                    <li>Toys, toys and more toys, including safe chew toys</li>
                    <li>Brush & comb for grooming, including flea comb</li>
                    <li>Collar with license and ID tag</li>
                    <li>Leash</li>
                    <li>Training crate</li>
                    <li>Dog bed or box with warm blanket or towel</li>
                    <li>Dog toothbrush</li>
                </ul>
                <p></p>
                <p>
                    All information taken from: <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care">ASPCA</a>.
                </p>
            </section>
            </div>
</main>
            <%- include('partials/footer') %>
        </body>
</html>
