<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assignment 1 - Question 8</title>  
        <link rel="stylesheet" href="/css/styleQ8.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/Q7.js" defer></script>
    </head>
    <body>
        <%- include('partials/header') %>
<main>
<div class="sidebar">
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/find">Find Available Pets</a>
        </li>
        <li>
            <a href="/dogCare">Dog Care</a>
        </li>
        <li>
            <a href="/catCare">Cat Care</a>
        </li>
        <li>
            <a href="/giveAway">Have a Pet to Give Away</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div>
            <section>
                <h2>Privacy/Disclaimer Statement</h2>
                <p>
                    At FurEver Family, we respect your privacy and are 
                    committed to protecting any personal information you provide us. 
                    We assure you that your information will not be sold, shared, or otherwise 
                    distributed to any third parties without your consent.
                </p>
                <p>
                    Furthermore, while we strive for accuracy in the information provided 
                    on our site, we cannot guarantee that all information posted by users, 
                    including pet owners, is entirely accurate or up-to-date. Users are encouraged 
                    to verify the information themselves and use their discretion when relying on 
                    content found on FurEver Family.
                </p>
                <p>
                    Thank you for visiting FurEver Family. If you have any questions or concerns 
                    regarding our privacy practices or the information on our site, please contact us.
                </p>
            </section>   
</main>
            <%- include('partials/footer') %>
        </body>
</html>